.vs/
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*
Saved/*
*_BuiltData.uasset
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.slo
*.lo
*.o
*.obj
*.lai
*.la
*.a
*.lib